<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qa.TestScript.AllaccountScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createAccountMinor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAccountForSingleUser1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAccounttrust</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAccountindividual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAccountjoint</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>teardown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
