<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:16:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllaccountScript.Setup()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:20:25</td>   <td>212423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllaccountScript.Setup()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:22:46</td>   <td>353532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllaccountScript.Setup()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:25:43</td>   <td>530842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllaccountScript.Setup()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:29:37</td>   <td>764347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllaccountScript.Setup()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:17:05</td>   <td>12709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllaccountScript.createAccountForSingleUser1()[pri:1, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">createAccountForSingleUser1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:30:08</td>   <td>795726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllaccountScript.createAccountMinor()[pri:5, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">createAccountMinor</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:20:36</td>   <td>223635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllaccountScript.createAccountindividual()[pri:2, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">createAccountindividual</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:22:57</td>   <td>364258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllaccountScript.createAccountjoint()[pri:3, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">createAccountjoint</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:25:54</td>   <td>541145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllaccountScript.createAccounttrust()[pri:4, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">createAccounttrust</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:20:24</td>   <td>211432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllaccountScript.teardown()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:22:45</td>   <td>352636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllaccountScript.teardown()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:25:42</td>   <td>529905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllaccountScript.teardown()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:29:36</td>   <td>763478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllaccountScript.teardown()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/05/06 09:33:02</td>   <td>969293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllaccountScript.teardown()[pri:0, instance:com.qa.TestScript.AllaccountScript@5c3bd550]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
</table>
